# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  buildConfiguration: 'Release'

steps:
  - task: UseDotNet@2
    displayName: 'Install .NET 9 SDK'
    inputs:
      packageType: 'sdk'
      version: '9.0.x'
  - task: DotNetCoreCLI@2
    displayName: 'Restoring dependences'
    inputs:
      command: 'restore'
      projects: "**/*.csproj"
  - task: DotNetCoreCLI@2
    displayName: 'Build'
    inputs:
     command: 'build'
     projects: "**/*.csproj"
     arguments: '--configuration $(buildConfiguration)'
  - task: DotNetCoreCLI@2
    displayName: 'Test'
    inputs:
      command: 'test'
      projects: "**/*Test*.csproj"
  - task: DotNetCoreCLI@2
    displayName: 'Publish'
    inputs:
      command: 'Publish'
      projects: "**/*.csproj"
      arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
  - publish: $(Build.ArtifactStagingDirectory)
    displayName: "uploding artifact"
    artifact: drop
